*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.navbar{
    background-color: #000 !important;
}
.navbar ul li a{
    color: #fff !important;
}
.card-header{
    /* width: 300px !important; */
}
.card-header img{
    width: 230px; 
    height:100%;
}
.navbar-text i{
    color: #fff !important;
}